---
import Layout from "../layouts/Layout.astro";
import { getContent } from "../config/siteConfig";
import Hero from "../components/sections/Hero.astro";
import TargetAudience from "../components/sections/TargetAudience.astro";
import HowItWorks from "../components/sections/HowItWorks.astro";
import Benefits from "../components/sections/Benefits.astro";
import CtaFaq from "../components/sections/CtaFaq.astro";

const c = getContent();
---

<Layout title={c.seoTitle} description={c.description}>
  <main>
    <Hero />
    <TargetAudience />
    <HowItWorks />
    <Benefits />
    <CtaFaq />
  </main>
</Layout>
