---
import Layout from "../layouts/Layout.astro";
import { getContent } from "../config/siteConfig";
import Hero from "../components/sections/Hero.astro";
import PainPoints from "../components/sections/PainPoints.astro";
import Packages from "../components/sections/Packages.astro";
import Faq from "../components/sections/Faq.astro";
import Cta from "../components/sections/Cta.astro";

const c = getContent();
---

<Layout title={c.seoTitle} description={c.description}>
  <main>
    <Hero />
    <div class="divider max-w-5xl mx-auto px-6"></div>
    <PainPoints />
    <div class="divider max-w-5xl mx-auto px-6"></div>
    <Packages />
    <div class="divider max-w-5xl mx-auto px-6"></div>
    <Faq />
    <div class="divider max-w-5xl mx-auto px-6"></div>
    <Cta />
  </main>
</Layout>
